<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h1>Our Vision</h1>
    <div class="card mb-3">
      <div class="card-body vision-card">
        <p class="card-text">
          Our vision is to provide the industries best resources at entry level.
          We taken an initiative to provide the required domain knowledge of
          banking and insurance industry at entry level by offering our level
          wise training program. We designed industry based online as well
          offline training courses with our domain expertise.
        </p>
      </div>
    </div>
  </div>
</div>
